/* Stylesheet erstellt mit ImportDoc 13.0 */

body {
margin-top:45px;
}

p {
	margin-top:4.0pt;
	margin-right:0cm;
	margin-bottom:4.0pt;
	margin-left:0cm;
	line-height:12.0pt;
	font-size:11.0pt;
	font-family:"DaimlerCS-Regular"    ,sans-serif;
}

p.Title {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:28.0pt;
	font-family:"DaimlerCS-Regular"   ,sans-serif;
	letter-spacing:-.5pt;
	font-weight:bold;
}

p.TitleCxSpFirst {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:28.0pt;
	font-family:"DaimlerCS-Regular"   ,sans-serif;
	letter-spacing:-.5pt;
	font-weight:bold;
}

p.TitleCxSpMiddle {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:28.0pt;
	font-family:"DaimlerCS-Regular"   ,sans-serif;
	letter-spacing:-.5pt;
	font-weight:bold;
}

p.TitleCxSpLast {
	margin:0cm;
	margin-bottom:.0001pt;
	font-size:28.0pt;
	font-family:"DaimlerCS-Regular"   ,sans-serif;
	letter-spacing:-.5pt;
	font-weight:bold;
}

span.TitelZchn {
	font-family:"DaimlerCS-Regular"   ,serif;
	letter-spacing:-.5pt;
	font-weight:bold;
}

OL {
	margin-top:0px;
	margin-bottom:0px;
}

UL {
	margin-top:0px;
	margin-bottom:0px;
}

