/*Created with Adobe RoboHelp 2017.*/

body {
	padding-top:45px;
}
p {
	margin-top: 4.0pt;
	margin-right: 0cm;
	margin-bottom: 4.0pt;
	margin-left: 0cm;
	line-height: 12.0pt;
	font-size: 11.0pt;
	font-family: "Daimler CS";
}
h1 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	punctuation-wrap: simple;
	text-autospace: none;
	font-size: 14.0pt;
	font-weight: bold;
	font-family: "Daimler CS";
}
h2 {
	margin-top: 18.0pt;
	margin-right: 0cm;
	margin-bottom: 6.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	font-size: 12.0pt;
	font-weight: bold;
	font-family: "Daimler CS";
}
h3 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	font-size: 11.0pt;
	font-weight: bold;
	font-family: "Daimler CS";
}
h4 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	font-size: 11.0pt;
	font-weight: bold;
	font-family: "Daimler CS";
}
h5 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	font-size: 11.0pt;
	font-weight: bold;
	font-family: "Daimler CS";
}
h6 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	font-size: 11.0pt;
	font-weight: normal;
	font-style: italic;
	font-family: "Daimler CS";
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
span a {
	/* Fix links below page header (CEBAS-1437) */
	padding-top: 45px;
}
p.Heading7 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	font-size: 11.0pt;
	font-family: "Daimler CS";
}
p.Heading8 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	font-size: 11.0pt;
	font-style: italic;
	font-family: "Daimler CS";
}
p.Heading9 {
	margin-top: 12.0pt;
	margin-right: 0cm;
	margin-bottom: 3.0pt;
	margin-left: 0cm;
	text-indent: 0cm;
	font-size: 9.0pt;
	font-style: italic;
	font-family: "Daimler CS";
}
p.CommentText {
	margin-top: 4.0pt;
	margin-right: 0cm;
	margin-bottom: 4.0pt;
	margin-left: 0cm;
	font-size: 11.0pt;
	font-family: "Daimler CS";
}
p.Caption {
	margin-top: 3.0pt;
	margin-right: 0cm;
	margin-bottom: 12.0pt;
	margin-left: 0cm;
	punctuation-wrap: simple;
	text-autospace: none;
	font-size: 10.0pt;
	font-family: "Daimler CS";
}
span.Hyperlink {
	color: blue;
	text-underline: single;
	font-family: "Daimler CS";text-decoration: underline;
}
span.HyperlinkFollowed {
	color: #954F72;
	text-underline: single;
	font-family: "Daimler CS";text-decoration: underline;
}
p.ListParagraph {
	margin-top: 4.0pt;
	margin-right: 0cm;
	margin-bottom: 4.0pt;
	margin-left: 36.0pt;
	line-height: 12.0pt;
	font-size: 11.0pt;
	font-family: "Daimler CS";
}
p.ListParagraphCxSpFirst {
	margin-top: 4.0pt;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 36.0pt;
	margin-bottom: .0001pt;
	line-height: 12.0pt;
	font-size: 11.0pt;
	font-family: "Daimler CS";
}
p.ListParagraphCxSpMiddle {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 0cm;
	margin-left: 36.0pt;
	margin-bottom: .0001pt;
	line-height: 12.0pt;
	font-size: 11.0pt;
	font-family: "Daimler CS";
}
p.ListParagraphCxSpLast {
	margin-top: 0cm;
	margin-right: 0cm;
	margin-bottom: 4.0pt;
	margin-left: 36.0pt;
	line-height: 12.0pt;
	font-size: 11.0pt;
	font-family: "Daimler CS";
}
span.Überschrift1ZchnScrollHeading1Zchn {
	font-weight: bold;
	font-family: "Daimler CS";
}
span.Überschrift2ZchnScrollHeading2Zchn {
	font-weight: bold;
	font-family: "Daimler CS";
}
span.Überschrift3ZchnScrollHeading3Zchn {
	font-weight: bold;
	font-family: "Daimler CS";
}
span.Überschrift4ZchnScrollHeading4Zchn {
	font-weight: bold;
	font-family: "Daimler CS";
}
span.Überschrift5ZchnScrollHeading5Zchn {
	font-weight: bold;
	font-family: "Daimler CS";
}
span.Überschrift6ZchnScrollHeading6Zchn {
	font-style: italic;
	font-family: "Daimler CS";
}
span.Überschrift7Zchn {
	font-family: "Daimler CS";
}
span.Überschrift8Zchn {
	font-style: italic;
	font-family: "Daimler CS";
}
span.Überschrift9Zchn {
	font-style: italic;
	font-family: "Daimler CS";
}
span.ListenabsatzZchn {
	font-family: "Daimler CS";
}
span.KommentartextZchn {
	font-family: "Daimler CS";
}
OL {
	margin-top: 0px;
	margin-bottom: 0px;
}
UL {
	margin-top: 0px;
	margin-bottom: 0px;
}
span.expandtext {
	font-family: "Daimler CS";
}
span.glosstext {
	font-family: "Daimler CS";
}
p.breadcrumbs {
	font-family: "Daimler CS";
}
a {
	color: blue;
	font-family: "Daimler CS";
	display: inline;text-decoration: underline;
}
a.breadcrumbs {
	font-family: "Daimler CS";
	display: inline;
}
a.dropspot {
	font-family: "Daimler CS";
	display: inline;
}
a.expandspot {
	font-family: "Daimler CS";
	display: inline;
}
a.glossterm {
	font-family: "Daimler CS";
	display: inline;
}
a.popupspot {
}
body {
	font-size: 12pt;
	x-next-page: page-with-header;
	font-family: "Daimler CS";
}
ol,
ul {
	font-family: "Daimler CS";
}
